.gray
{
    background-color: grey;
    height: 700px;
    width: 1300px;
    margin-left: 150px;
    margin-top: 50px;
    position: relative;

}
.whitecontainer
{
    margin-left: 100px;
    margin-top: 130px;
    height: 530px;
    width: 1100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

.icon
{

    margin-left: 1010px;
    position: absolute;
    margin-top: -60px;


}


.head1
{
    margin-left: 530px;
    margin-top: 20px;
    position: absolute;
    font-weight: bolder;
    color: white;
}


.head2
{
    margin-left: 600px;
    margin-top: 60px;
    position: absolute;
    color: white;

}

.b
{
    margin-left: 30px;
    font-weight: bolder;
    font-size: 34px;
}

.list
{
    margin-top: -60px;
    margin-left: -20px;
    padding-left: 50px;

}

ul li
{

    list-style: none;
    display: inline;
    font-weight: bolder;
    font-size: 24px;

}

.home
{
    margin-left: 280px;  
   
}

.product
{
    padding-left: 50px;
}

.store
{
    padding-left: 50px;
}

.aboutus
{
    padding-left: 50px;

}

.paragraph1
{
    margin-left: 80px;
    width: 190px;
    margin-top: 70px;
}

.readmore
{
    font-weight: bolder;
    margin-left: 84px;
    margin-top: -10px;
}



.circle
{
    height: 340px;
    width: 350px;
    border-radius: 250px;
    margin-left: 400px;
    margin-top: -145px;
    position: absolute;
    background-color: rgb(226, 151, 12);
}


img
{
    margin-left: 180px;
    margin-top: -160px;
    height: 575px;
    width: 700px;
    position: sticky;
}

.less
{
    margin-left: 655px;
    margin-top: -460px;
    font-weight: bolder;
    font-size: 80px;
    position: sticky;
    width: 280px;
}


.socialmedia
{
    margin-left: 10px;
    margin-top: 85px;
    color: white;
    
}

li i{
    list-style: none;
    padding-right: 20px;
    margin-top: 5px;

   
}


.paragraph2
{
    margin-left: 890px;
    margin-top: -40px;
    font-size: 20px;
    
}

.facebook li i
{
    margin-left: 10px;
}

.whatsapp li i
{
    margin-left: 8px;
    font-size: 24px;

}

.instgram li i
{
    margin-left: 7.5px;
    font-size: 23px;
}

.twitter li i
{
    margin-left: 8px;
    font-size: 23px;

}


.facebook
{
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 70px;
 
    
}

.instgram
{
    
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 70px;
    margin-top: -35px;
    margin-left: 50px;
    
   
}

.twitter
{
   
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 70px;
    margin-top: -35px;
    margin-left: 100px;
    
   }

.whatsapp
{
   
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 70px;
    margin-top: -35px;
    margin-left: 150px;
    
}

.facebook a 
{
    color: white;
}

.instgram a
{
        color: white;
}

.twitter a 
{
    color: white;
}

.whatsapp a 
{
    color: white;
}

a
{
    text-decoration: none;
    color: black;
}